

<app-todo></app-todo>

<app-zippy title='Shipping Address'>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, cupiditate asperiores cum explicabo enim hic nobis debitis error ipsam harum molestiae eos id perspiciatis amet. In accusamus officia aut tempore!
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae aut natus consectetur, nobis laudantium deserunt libero molestiae voluptatibus pariatur aliquam iusto asperiores, voluptas aperiam enim assumenda officiis exercitationem. Architecto, sequi.</p>
</app-zippy>